@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cosi Azure";
  src: url(./assets/fonts/CosiAzure-Bold.ttf);
}

:root {
  --color-darker: #050505;
  --color-lighter: #f5f5f5;
}
